.filler-two {
    position: relative;
    height: 711.5px;
    width: 100%;
    overflow: hidden;
}

.filler-two video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
